@font-face {
    font-family: 'Gilroy';
    src: url('../media/fonts/Gilroy-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../media/fonts/Gilroy-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../media/fonts/Gilroy-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../media/fonts/Gilroy-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Inter';
    src: url('../media/fonts/Inter_18pt-Regular.ttf');
}

$font-family: "Gilroy", sans-serif;
$second-family: "Inter", sans-serif;
$third-family: "Montserrat", sans-serif;



$white: #FFF;
$desktopBig: 1920px;
$desktop: 1200px;
$tablet: 742px;

$font-family: "Inter", sans-serif;